@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@100&family=Red+Hat+Display:wght@500;900&display=swap");

/* font-family: 'Red Hat Display', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.container {
  width: 375px;
}
header {
  padding-top: 48px;
  display: flex;
  justify-content: center;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .descr-buttons{

} */
.user-images {
  display: flex;
  justify-content: center;
  padding-top: 54px;
}

.users {
  width: 414px;
  margin-left: -20px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  padding-top: 48px;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  width: 327px;
  color: #28283d;
}

.description {
  padding-top: 24px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  width: 327px;
  color: #87879d;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-download {
  margin-top: 32px;
  height: 58px;
  width: 193px;
  background: #4d96a9;
  border: none;
  border-radius: 29px;
  cursor: pointer;
}

.button-download > h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.button-what {
  margin-top: 16px;
  height: 58px;
  width: 139px;
  background: #855fb1;
  border: none;
  border-radius: 29px;
  cursor: pointer;
}

.button-what > h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.obj {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 124px;
}

.obj > img {
  position: absolute;
  top: 5px;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 64px;
}

.column1 {
  display: flex;
  flex-direction: row;
  /* margin-top: 64px; */
  gap: 25px
}

.column2 {
  display: flex;
  flex-direction: row;
  /* margin-top: 24px; */
  gap: 25px;
}
.imgs {
  height: 143px;
  width: 151px;
  border-radius: 8px;
}

.title2 {
  margin-left: 26px;
  margin-top: 64px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;

  color: #4d96a9;
}

.heading {
  margin-top: 24px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-align: center;

  color: #28283d;
}
.desc2 {
  margin-top: 24px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  color: #87879d;
}

footer {
  /* margin-top: 176px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./image-footer-mb.jpg);
  box-shadow: inset 0 0 0 1000px rgba(77, 150, 169, 0.7);
  /* width: 375px; */
  /* height: 428px; */
}

.footer-title {
  padding-top: 92px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-align: center;

  color: #fafafa;
}

.footer-desc {
  padding-top: 24px;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  width: 237px;
  color: #fafafa;
}

.button-footer {
  height: 58px;
  width: 193px;
  margin-top: 32px;
  background: #855fb1;
  border: none;
  border-radius: 29px;
  cursor: pointer;
}

.button-footer > h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.left-img {
  display: none;
}

.right-img {
  display: none;
}

.rows{
  display: none;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }

  .descr-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .users {
    height: 303px;
    width: 820px;
  }

  .content {
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
  }

  .description {
    width: 457px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .button-download {
    margin-bottom: 15px;
  }
  .columns {
    display: flex;
    flex-direction: row;
    gap: 11px;
  }

  .column1 {
    gap: 11px;
  }
  .column2 {
    gap: 11px;
  }

  .heading {
    font-size: 40px;
    line-height: 44px;
    width: 445px;
  }
  .desc2 {
    width: 573px;
  }
  footer {
    background: url(./image-hero-tab.jpg) no-repeat;
    /* width: 768px; */
  }

  .footer-title {
    font-size: 40px;
    line-height: 44px;
    width: 457px;
  }

  .footer-desc {
    width: 573px;
  }

  .left-img {
    display: none;
  }

  .right-img {
    display: none;
  }

}

@media (min-width: 1440px) {
  .container{
    width: 1440px;
  }

  .head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 88px;
    padding-top: 63px;
  }

  .user-images {
    display: none;
  }

  .left-img {
    display: block;
  }

  .right-img {
    display: block;
  }

  .imgs {
    height: 242px;
    width: 255px;
  }

  .columns {
    gap: 30px;
  }

  .column1 {
    gap: 30px;
  }

  .column2 {
    gap: 30px;
  }

  .desc2 {
    font-size: 18px;
    width: 540px;
  }

  footer {
    display: flex;
    flex-direction: row;
    background: url(./image-footer.jpg) no-repeat;
    gap: 100px;
    /* padding-right: 10px; */
    /* height: 308px; */
  }
  .footer-title{

    position: relative;
    margin-bottom: 50px;
  }

  .footer-desc{
    text-align: center;
  }
}
