@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@100&family=Red+Hat+Display:wght@500;900&display=swap');

/* font-family: 'Red Hat Display', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    display: flex;
    justify-content: center;
    height: 100vh;
 }
.container{
    width: 375px;
}
 header{
    padding-top: 48px;
    padding-left: 128px;
 }

 .user-images{
    padding-top: 54px;
 }

 .users{
    width: 414px;
    height: 153px;
    margin-left: -20px;
 }

 .content{
    padding-top: 48px;
    padding-left: 24px;
    width: 327px;
    
 }

 .title{
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    
    color: #28283D;    
 }

 .description{
    padding-top: 24px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    
    color: #87879D;    
 }

 .button-download {
    height: 58px;
    width: 193px;
    margin-left: 67px;
    margin-top: 32px;
    background: #4D96A9;
    border: none;
    border-radius: 29px;
    cursor: pointer;
 }

 .button-download > h2{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;   
 }

 .button-what{
    height: 58px;
    width: 139px;
    margin-top: 18px;
    margin-left: 94px;
    background: #855FB1;
    border: none;
    border-radius: 29px;
    cursor: pointer;
       
 }

 .button-what > h2{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;      
 }
 .line{
    margin-top: 64px;
    margin-left: 163px;
    border-left: 1px solid #87879d2f;
    height: 84px;
 }

 .circle{
    margin-left: 136px;
    height: 56px;
    width: 56px;
    box-sizing: border-box;
    border: 1px solid rgba(135, 135, 157, 0.25);
    border-radius: 29px;
 }
.circle h2{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #87879D;
    text-align: center;
    margin-top: 15px;
}
 .column1{
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    gap: 25px;
 }

 .column2{
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    gap: 25px;
 }
 .imgs{
    height: 143px;
    width: 151px;
    border-radius: 8px;
    
 }

 .title2{
    margin-left: 26px;
    margin-top: 64px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    
    color: #4D96A9;
 }

 .heading{
    margin-top: 24px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    
    color: #28283D;
 }
 .desc2{
    margin-top: 24px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    
    color: #87879D;   
 }

.obj{
    margin-left: 24px;
    position: relative;
}


.line2{
   margin-top: 64px;
   padding-bottom: 15px;
   margin-left: 162px;
   border-left: 1px solid #87879d2f;
   height: 84px;
}

.circle2{
   position: absolute;
   top: 56px;
   left: 135px;
   height: 56px;
   width: 56px;
   box-sizing: border-box;
   border: 1px solid rgba(135, 135, 157, 0.25);
   background-color: white;
   border-radius: 29px;
}
.circle2 h2{
   font-family: 'Red Hat Display';
   font-style: normal;
   font-weight: 900;
   font-size: 16px;
   line-height: 26px;
   color: #87879D;
   text-align: center;
   margin-top: 15px;
}
 footer{
    /* margin-top: 176px; */
    background: url(./image-footer-mb.jpg);
    box-shadow: inset 0 0 0 1000px rgba(77, 150, 169, 0.7);
    background-size: 375px 428px;
    height: 428px;

 }

 .footer-title{
    padding-top: 92px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    
    color: #FAFAFA;
 }

 .footer-desc{
    padding-top: 24px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    
    color: #FAFAFA;    
 }

 .button-footer{
    height: 58px;
    width: 193px;
    margin-left: 67px;
    margin-top: 32px;
    background:#855FB1;
    border: none;
    border-radius: 29px;   
    cursor: pointer; 
 }

 .button-footer > h2{
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;   
 }